Fluidon Specification/src/org/netbeans/jfluidon/config/library/entity/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon Oct 27 2014 18:24:26 GMT+0530 (India Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="library">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="category" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="widget" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:attribute name="id" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="class" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="id" type="xs:string"></xs:attribute>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>